:global {
  .dfp-slot {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-align: center;

    > * {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }

    iframe {
      max-width: 100%;
    }
  }

  /* dnews */
  .cnyes-dfp-category-banner {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    height: 100px;
    padding: 0;
    margin: 10px auto;

    > * {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }

    iframe {
      max-width: 100%;
    }
  }

  /* dnews */
  .cnyes-dfp-category-native {
    display: block;
    max-width: 100%;
    overflow: hidden;
    height: 70px;
    padding: 0;

    > * {
      display: block;
      max-width: 100%;
    }

    iframe {
      max-width: 100%;
    }
  }

  /* dnews */
  .cnyes-dfp-detail-native-column {
    position: absolute;
    display: none;
    width: calc(100% - 1px);
    left: 0;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
  }

  /* dnews */
  .cnyes-dfp-detail-native-project {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0;
    z-index: 1;

    > * {
      display: block;
    }

    iframe {
      width: 100%;
    }
  }
}
